<div class="container alinhar-container">
    <div class="container-titulo">
      <div class="titulo">
        <h1 class="title-font">FAVORITOS</h1>
      </div>
    </div>
    <div class="container">
      <div class="alinhamento-cards ">
        <div *ngFor="let favorito of favoritos" >
          <div>
            <div class="card">
              <img [src]="favorito.image" class="card-img-top img-alinhamento" alt="...">
              <button (click)="removerFavoritos(favorito);"  type="button" class="btn btn-link">
                <i class="bi-heart-fill"></i>
              </button>
            
              <div class="card-body">
                <h5 class="card-title">{{favorito.name}}</h5>
                <p class="card-text">{{favorito.species}}</p>
                <p class="card-text card-text-type">{{favorito.type}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="favoritos.length === 0" class="container container-erro ">
      <div class="div-erro">
          <div>
            <h1 class="titulo-erro">Parece que você ainda não tem favoritos</h1>
          </div>
          <div>
            <p class="descricao-erro">Volte à página inicial e escolha os melhores para você.</p>
          </div>
          <div>
            <button class="btn btn-light btn-voltar" (click)="irParaPaginaInicial();">Voltar ao início</button>
          </div>
      </div>
    </div>
  </div>