<div id="inicio" class="container alinhar-container">
    <div class="container-titulo">
      <div class="titulo">
        <h1 class="title-font">INÍCIO</h1>
      </div>
      <div class="caixa-pesquisa">
        <input type="text" class="form-control-pesquisar" (keyup)="search();" 
        [(ngModel)]="searchTerm"
         placeholder="Pesquisar" [formControl]="searchControl"  />
      </div>
    </div>
    <app-loading [isLoading]="loading"></app-loading>
    <div class="container container-characters">
      <div class="alinhamento-cards row row-cols-1 row-cols-md-3 g-5">
        <div *ngFor="let personagem of characters" >
          <div class="col">
            <div class="card">
              <img [src]="personagem.image" class="card-img-top img-alinhamento" alt="...">
          
              <button (click)="toggleFavorito(personagem);"  type="button" class="btn btn-link">
                <i [ngClass]="{ 'bi-heart-fill': isfavorito(personagem), 'bi-heart': !isfavorito(personagem) }"></i>
              </button>
            
              <div class="card-body">
                <h5 class="card-title">{{personagem.name}}</h5>
                <p class="card-text">{{personagem.species}}</p>
                <p class="card-text card-text-type">{{personagem.type}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="mostrarPaginaErro" class="container container-erro ">
      <div class="div-erro">
          <div>
            <h1 class="titulo-erro">Nada foi encontrado</h1>
          </div>
          <div>
            <p class="descricao-erro">Tente realizar uma nova busca.</p>
          </div>
      </div>
    </div>
    <div class="previus-next">
      <button href="#inicio" class="btn btn-light" (click)="previousPage();">Voltar</button>
      <button href="#inicio"class="btn btn-light btn-proxima" (click)="nextPage();">Próxima</button>
    </div>
  </div>